.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1rem;
    background-color: #293811;
    color: white;
    width:80rem;
  }
  
  .logoContainer {
    margin-right: 2rem; 
  }
  
  .logoContainer img {
    width: 50px;
    height: auto;
  }
  
  .navLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navLinks li {
    display: inline; 
    margin-right: 1rem; 
  }
  
  .navLinks li:last-child {
    margin-right: 0; 
  }
  
  .navLinks li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
  }
  
  .navLinks li a:hover {
    text-decoration: underline;
  }
  
