.main{
    background-color: white ;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100%; 
  }
  .home{
    color: White;
    background-color: #2F4111;
    width:80rem;
    height:100vh;
  }
  .video {
    width: 100%; 
    max-width: 80rem;
    height: auto; 
  }

  .welcome{
    margin-top: 1em;
    text-align: center;
    font-size: 5.125rem;
  }